footer{

    background-image: url(../_IMG/Background_Footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 950px;
}


#imgGobierno{

    width: 400px;
}

.imgFooter{

    width: 25px;
    margin-right: 5px;
}

#ContenedorFlexFooter{

    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

#NavegaciónFooter{

    display: flex;
    flex-direction: column;

    
}

#Información{

    display: flex;
    flex-direction: column;

}


#NavegaciónFooter,
#ImagenesContactoFooter,
#ContactoFooter{

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

#GobiernoCantabria,
#NavegaciónFooter,
#ContactoFooter{

    margin-top: 50px;
}

.TituloFooter{

    color:rgb(41, 99, 41);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.textFooter{

    font-size: 20px;

}

.EnlaceFooter{

    font-size: 20px;
    transition: all 500ms ease-out;
    

}
.EnlaceFooter:hover{

    cursor: pointer;
    color: rgb(192, 83, 56);
    transform: scale(1.1);
    transition: all 500ms ease-out;
}


#emailFooter{

    text-decoration: underline;
}

#TrabajoRealizadoPor{

    background-color: rgb(192, 61, 61);
    margin-top: 550px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: wheat;
    padding-left: 20px;
}

#Creditos{

    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}

.HoverNombres{
    transition: all 500ms ease-out;
}

.HoverNombres:hover{

    transform: scale(1.1);
    transition: all 500ms ease-out;
}

a{

    color:black;
    text-decoration: none;
}