/*----BLOQUE DE CODIGO DEL HEADER - BANNER----*/

html{

    width: 100%;
    zoom:100%;

}

header{

    height: 450px;
    display: flex;
    flex-direction: row;
    background-image: url(../_IMG/BackgroundBanner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;

    width:100%;
    overflow:hidden;

    z-index: 1;
    position: relative;
}

#MarcoNav{

    background-color: white;
    height: 190px;
    border-radius: 20px;
    border: 5px;
    border-style: solid;
    border-color: rgb(223, 86, 86);
    padding-right: 35px;

    box-shadow: 10px 5px 15px black;
}

ul{
    
    display: flex;
    align-items: center;
    list-style-type: none;

}

#imgLogo{

    width: 150px;

}

#InicioBanner{

    margin: 10px;
    background-color: #df6262;
    background-size: 30px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
    transition: all 500ms ease-out;
}

.menúVerde{

    background-color: #5c955c;
    padding: 12px;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    font-weight: bolder;
    transition: all 500ms ease-out;

}

#imgSeparadorNav{

    width: 105px;
    padding-left: 15px;
    padding-right: 15px;

}

.menuInicioRegistro{

    background-color: #b9b9b9;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    transition: all 500ms ease-out;
}

#TituloHome{

    text-align: center;
    margin-top: 20px;
    justify-content: center;
    justify-items: center;
}

Span.Rojo{

    color: rgb(201, 56, 56);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 75px;
    font-weight: bold;

    text-shadow: 7px 1px 6px black;

}

Span.Verde{

    color:rgb(41, 99, 41);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 75px;
    font-weight: bold;

    text-shadow: 7px 1px 6px black;
}

Span.blancoGrande{
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(41, 99, 41);
    font-size: 75px;
    font-weight: bold;

    text-shadow: 7px 1px 6px black;
}

Span.Blanco{

    color: rgb(226, 226, 226);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: bold;

    text-shadow: 5px 1px 8px black;
}

Span.Rojo2{

    color: rgb(201, 56, 56);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: bold;

    text-shadow: 5px 1px 8px black;
}

Span.Verde2{

    color:rgb(65, 131, 65);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: bold;

    text-shadow: 5px 1px 8px black;

}

#InicioBanner,.menúVerde,.menuInicioRegistro:hover{

    cursor: pointer;
    transition: all 500ms ease-out;
}

#imgIzqBanner, #imgDerBanner, #imgBannerTransporte{
    position: absolute;
    width: 500px;
    z-index: 2;
    top: 165px;

    filter: drop-shadow(5px 1px 6px black);

}

#imgBannerTransporte{

    width: 115px;
    left: 400px;
    top: 172px;
}
#imgDerBanner{

    right: 5px;
    top: 24px;
}

#InicioBanner:hover{

    background-color: #dd9191;
    
    transform:scale(1.1);
}

.menúVerde:hover{

    background-color: #8cb48c;
    transform:scale(1.1);
}

.menuInicioRegistro:hover{

    background-color: #dddddd;
    transform:scale(1.1);
    
}

/*----BLOQUE DE PRIMERA PARTE MAIN---*/

#Section1{

    display: flex;
    justify-content: space-between;
}

#TamañoIconoDecorado{

    position: absolute;
    width: 100px;
    z-index: 3;
    top: 450px;
    left:730px;

    filter: drop-shadow(5px 1px 6px black);
}

tr{

    text-align: center;
    width: 200px;
}
#InfoGeneral_LadoIzquierdo{

    display: flex;

    width: 50%;
    height: 855px;
    
    border-right-color: black;
    border-right: 2px;
    border-right-style:double;

    margin-right: 100px;
}

#titulo1Verde{

    background-color:rgb(41, 99, 41);
    font-size: 40px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;

    margin-left: 100px;

}


table{

    width: 500px;   
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

    margin-right: 500px;
}

.celdaIMG{

    width: 50px;
}

.tamañoImagen{

    width: 250px;
    padding-right: 40px;
    padding-left: 40px;
    transition: all 500ms ease-out;
}

.tamañoImagen.td{

    width: 20px;
    
}

.textoPrimeraParte{

    font-size: 20px;
    text-align: center;
}

.tamañoImagen:hover{

    transform:scale(1.1);
    filter: drop-shadow(5px 1px 6px black);
    transition: all 500ms ease-out;
}

#InfoGeneral_LadoDerecho{

    display: flex;


    width: 50%;
    height: 890px;
    flex-grow: 1;
    margin-left: 100px;


}

.tamañoImagen2{

    width: 250px;
    padding-right: 40px;
    padding-left: 40px;
    transition: all 500ms ease-out;
}

.tamañoImagen2:hover{

    transform:scale(1.1);
    transition: all 500ms ease-out;
}

#TamañoIconoDecorado2{

    position: absolute;
    width: 150px;
    z-index: 2;
    top: 1230px;
    right: 150px;

    filter: drop-shadow(5px 1px 6px black);
}

#titulo2Rojo{

    background-color: #df6262;
    font-size: 40px;
    color: white;
    font-weight: bold;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    
    margin-left: 1040px;
}

/*----BLOQUE DE SEGUNDA PARTE MAIN---*/

#Section2{

    margin-top: 48px;
    
}

#tituloSection2{

    background-color:rgb(73, 73, 73);
    font-size: 40px;
    color: white;
    font-weight: bold;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top:30px;

    margin-left: 500px;
    
    
}
#ContenidoActividadesPendientes{

	

    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;

    background-color: bisque;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    
    border-image: linear-gradient(45deg, rgb(255, 90, 90), rgb(255, 231, 164),rgb(255, 148, 49)) 1;

    padding-bottom: 50px;
    
}

#ContenedorViajes{

    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.ViajePendiente{

    width: 200px;
    height: 200px;

    margin-left: 20px;
    margin-bottom: 20px;

    transition: all 500ms ease-out;
}

#imagenes{

    display: flex;
    flex-direction: column;
    
}

#InfoViaje{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
   
}

.TituloViaje{

    color: rgb(99, 172, 57);
    font-size: 40px;
    font-weight: bold;

    
}

.DescripcionViaje{

    font-size: 20px;
    
}

#ListaMasViajes{

    background-color:rgb(248, 114, 80);
    font-size: 20px;
    color: white;
    font-weight: bold;

    border-radius: 20px;

    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-top:15px;

    margin-left: 500px;
    transition: all 500ms ease-out;
}

#ListaMasViajes:hover{

    background-color: rgb(255, 155, 130);
    transform:scale(1.1);
    cursor: pointer;
    transition: all 500ms ease-out;
}

.ViajePendiente:hover{

    filter: drop-shadow(5px 1px 6px black);
    transform:scale(1.1);
    transition: all 500ms ease-out;
}

.MasInformacionViaje{

    font-weight: bold;
    color: rgb(192, 83, 56);;
}

.MasInformacionViaje:hover{

    cursor: pointer;
    text-decoration: underline;
}

.DecoracionParte2{

    position: absolute;
    width: 150px;
    z-index: 3;

    filter: drop-shadow(5px 1px 6px black);
    transition: all 500ms ease-out;
}

#DecoracionParte2_1{

    left: 275px;
    top: 1620px;

}

#DecoracionParte2_2{

    left: 275px;
    top: 1873px;
    width: 120px;

}

#DecoracionParte2_3{

    left: 275px;
    top: 2110px;
}

.DecoracionParte2:hover{

    transform:scale(1.1);
    transition: all 500ms ease-out;
}

#DecoracionSegundaParteGif_1{

    left: 700px;
    top: 1580px;
    width: 90px;
}

#DecoracionSegundaParteGif_2{

    left: 670px;
    top: 1790px;
}

#DecoracionSegundaParteGif_3{

    left: 740px;
    top: 2015px;
    width: 110px;
}

/*----BLOQUE DE TERCERA PARTE MAIN---*/

#Section3{

    margin-top: 29px;

}

.DecoracionParte3{

    position: absolute;
    width: 150px;
    z-index: 3;

    filter: drop-shadow(5px 1px 6px black);
    transition: all 500ms ease-out;

}

.DecoracionParte3:hover{

    transform:scale(1.1);
    transition: all 500ms ease-out;
}

#DecoracionParte3_1{

    left: 275px;
    top: 2628px;
    width: 110px;


}

#DecoracionParte3_2{

    left: 275px;
    top: 2840px;
    width: 130px;

}

#DecoracionParte3_3{

    left: 275px;
    top: 3070px;
    width: 110px;

}

#tituloSection3{

    background-color:rgb(73, 73, 73);
    font-size: 40px;
    color: white;
    font-weight: bold;

    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top:30px;

    margin-left: 500px;
    
    
}

/*----BLOQUE DE FOOTER---*/

footer{

    background-image: url(../_IMG/Background_Footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 950px;
}


#imgGobierno{

    width: 400px;
}

.imgFooter{

    width: 25px;
    margin-right: 5px;
}

#ContenedorFlexFooter{

    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

#NavegaciónFooter{

    display: flex;
    flex-direction: column;

    
}

#Información{

    display: flex;
    flex-direction: column;

}


#NavegaciónFooter,
#ImagenesContactoFooter,
#ContactoFooter{

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

#GobiernoCantabria,
#NavegaciónFooter,
#ContactoFooter{

    margin-top: 50px;
}

.TituloFooter{

    color:rgb(41, 99, 41);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.textFooter{

    font-size: 20px;

}

.EnlaceFooter{

    font-size: 20px;
    transition: all 500ms ease-out;
    

}
.EnlaceFooter:hover{

    cursor: pointer;
    color: rgb(192, 83, 56);
    transform: scale(1.1);
    transition: all 500ms ease-out;
}


#emailFooter{

    text-decoration: underline;
}

#TrabajoRealizadoPor{

    background-color: rgb(192, 61, 61);
    margin-top: 550px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: wheat;
    padding-left: 20px;
}

#Creditos{

    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}

.HoverNombres{
    transition: all 500ms ease-out;
}

.HoverNombres:hover{

    transform: scale(1.1);
    transition: all 500ms ease-out;
}

a{

    color:black;
    text-decoration: none;
}